body{
    background-color: hsl(212, 45%, 89%);
    display: grid;
    font-family: 'Outfit';
    min-height: 100vh;
    place-items: center;
    text-align: center;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 0.938rem;
    margin: 1rem 2.25rem 1.5rem;
}

.attribution{
    bottom: 0.625rem;
    right: 0.625rem;
    font-size: 0.625rem; 
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

.qrcode{
    border-radius: 0.5rem;
    max-width: 100%;
}

.qrholder{
    background-color: white;
    border-radius: 1rem;
    max-width: 50vh;
    padding: 1rem;
}
